
.user-profile-card{
    display: flex;
    flex-direction: column; 
    height: 400px; 
    justify-content: flex-end;
    align-items: space-around;
    
}

.fcontainer{
    display: flex;
    width: 350px;
    justify-content: space-between;
     
}
.post{
    display: flex;
    flex-direction: column;
}

.fbox{
    width: 140px;
    background-color:orange;
    height: 35px;
    line-height: 35px;
    border-radius: 10px;
    text-align: center;
}

.user-name {
    padding-top: 15px;
    margin-bottom: 15px;
    color: white;
}

.github {
    color: white;
    margin-top: 15px;
    margin-bottom: 30px;
}