
.user-profile-card{
 
    background-color: grey;
    margin: 10px;
     
}

.profile-img{
    margin: 0 auto;
}
.user-name{
    text-align: center;
}

.fbox{
    width: 130px;
    height: 25px;
    background-color: rgb(172, 159, 159);
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
}
.fcontainer{
    width: 500px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    margin: 0 auto;
}